{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <br>
    <h3>Cursos</h3>
    <hr>
  </div>

  {% for course in courses %}
  <div class="col-sm-12" style="border: 0.5px solid #dfdfdf; margin: 5px 5px 5px 5px; padding:25px;">
    <div class="col-sm-4">
      <img src="{{ course.image.url }}" width="600" height="400" alt="" class="rounded">
    </div>
    <br>
    <div class="col-sm-8">
      <h4><strong><a href="{{ course.get_absolute_url }}">{{ course.title }}</a></strong></h4>
      <p>{{ course.description|linebreaks }}</p>
    </div>
  </div>
  <hr>
  <br> <br>
  {% empty %}
  <div class="col-sm-12" style="border: 0.5px solid #dfdfdf; margin: 5px 5px 5px 5px; padding:25px;">
    <h3>Nenhum curso está disponível</h3>
  </div>
  <hr>
  <br> <br>
  {% endfor %}

</div>
{% endblock %}
