{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron">
        <h3>{{ course.title }}</h3>
        <p>{{ course.description|linebreaks }}</p>
        <button type="button" name="button" class="btn btn-primary">Inscreva-se</button>
      </div>
      <div class="col-sm-4">
        <img src="{{ course.image.url }}" alt="{{ course.slug }}" width="300" height="200">
        <br><br>
        <p>Data de início: {{ course.start_date }}</p>
      </div>
      <div class="col-sm-8">
        <h4>Sobre o curso</h4>
        <hr>
        <p>{{ course.about|linebreaks }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h4>Dúvidas e sugestões?</h4>
        <hr>
        <form class="" action="" method="post">
          {% csrf_token %}
          <fieldset>
            {% for field in form %}
              <div class="form-control">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                  <ul class="errors">
                    {{ field.errors }}
                  </ul>
                {% endif %}
              </div>
            {% endfor %}
          </fieldset>
        <input type="submit" class="btn btn-success" name="" value="Enviar">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
